body {
    margin: 0;
    padding: 0;
    background-color: rgb(212, 129, 73);
}

#navbar {
    display: flex;
    background-color: red;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    justify-content: space-between;
    border-bottom: solid 1px;
    border-color: rgb(255, 153, 0);
}

a {
    text-decoration: none;
    color: rgb(255, 153, 0);
}

.sarake {
    height: 100%;
    width: 33%;
    text-align: center;
    font-style: italic;
    color: rgb(255, 153, 0);
    font-size:large;
    font-weight: bold;
    text-shadow: 0 0 20px gold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.active-sarake {
    background-color: rgb(250, 90, 90);
}

.navbar-kuva {
    height: 100%;
    margin: 0;
    width: auto;
}

#shopping-cart {
    border-radius: 25%;
    height: 90%;
}

#shopping-cart:hover {
    height: 100%;
    width: auto;
    margin: auto;
}

.linkit {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin: 0 auto;
    justify-content: center;
}

.sarake:hover {
    background-color: beige;
}

#tayte {
    width: 100%;
    height: 100px;
}

#tausta {
    width: 80%;
    height: auto;
    background-color: rgb(255, 198, 133);
    margin: auto;
    border-radius: 10px;
}

.sisältö {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: beige;
    text-align: center;
}

.tuote {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    height: 100px;
}

.tuote:empty {
    border: none;
    height: 0px;
}

.tuotekuva {
    border-right: 1px solid;
}

.tuote p, .tuotemaara {
    margin: auto 0;
    width: 20%;
}

.input-field {
    width: 20%;
    height: 20px;
    margin: 0 5px 0 5px;
    text-align: center;
}

.poista {
    background-color: red;
    margin: auto;
}

#filleri {
    border: none;
}

#nappi-filleri {
    border: none;
    background-color: beige;
}

#kehoitus { 
    padding-top: 20px;
    font-style: italic;
    color: black;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0 0 20px gold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.solid {
    width: 90%;
    border: 1px solid;
    border-color: black;
}

h1 {
    text-align: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size:xx-large;
    font-weight: bold;
    text-shadow: 0 0 20px gold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding: 20px 0 0 0;
}

.toimitustiedot {
    width: 50%;
    margin: 30px auto;
}

.rivi {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.rivi label {
    width: 25%;
    text-align: center;
}

.rivi input {
    width: 140px;
}

#nappi {
    margin: 20px auto;
    width: 100px;
    height: 50px;
    border-radius: 10%;
}

p {
    text-align: center;
}

@media screen and (max-width: 800px) {

    .sarake {
        font-size: small;
    }

    #tausta {
        width: 100%;
        border-radius: 0;
    }

    .sisältö {
        width: 100%;
    }

    .poista {
        margin-right: 5px;
    }

    .rivi {
        flex-direction: column;
        margin: 0 auto;
    }

    .rivi input {
        margin: auto;
        margin-bottom: 10px;
    }

    .rivi label {
        margin: auto;
    }

    p {
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }

    h1 {
        width: 80%;
        margin: 0 auto;
    }

    #vihanaama {
        width: 100%;
    }

    .tuote {
        height: 75px;
    }

    .tuote p {
        font-size:x-small
    }

    #filleri {
        width: 0;
    }

    #tyhjap {
        width: 0;
    }

    #pyht {
        width: 33%;
    }

    #tuoteyht {
        width: 33%;
    }

    #hintayht {
        width: 33%;
    }

    .tuotehinta {
        width: auto;
        text-align: left;
        margin: auto 0 auto 5px
    }

    .tuotemaara {
        width: auto;
        margin: auto 0 auto 5px;
        text-align: left;
    }

    .hinta {
        width: auto;
        text-align: left;
        flex-wrap: nowrap;
        padding-right: 40px;
    }


    #tyhja {
        width: 100%;
    }
}
